
/* modified defaults */

body {
    background-color: black;
    color: white;
}

html{
  height: 100%;
}
body{
  min-height: 100%;
}


.is-disabled
{
  pointer-events: none;
  opacity: 0.7;
}



* {

     color: inherit; 
  font-weight: inherit;
   text-decoration: none;
      font-family: 'Adwaita Sans';
font-weight: normal;


}


body {

    width: 700px;
    margin: auto;
}


/* custom elements */

.input {
        border: inherit;
 background-color: inherit;
}
.input:focus {
    outline: inherit;
    }


/* modifiers */
.is-bordered {
    padding: 5px;
    border: solid 2px  white;
    width: fit-content;
    
}

  
.is-underlined {
padding: 2.5px;
    border-bottom: solid 2px  white;
    width:fit-content;

}

.is-leftlined {
padding: 2.5px;
    border-left: solid 2px  white;
    width:fit-content;

}

.is-underlined:focus {
   border-bottom: dashed 2px  white;


}

.is-bordered:focus {
      border: dashed 2px  white;

}

::backdrop {
backdrop-filter: blur(1px);
}

/* box components */

.box {
    width: 100%;
    height: 25px;
    margin: 5px;
     display: flex;
    justify-content: center;
    align-items: center;
}

.bx-line {
        border: solid 2px  white;
        margin: 3px;
}


.bx-fill {
      background-color: white;
       border: solid 2px  white;
        margin: 3px;
}


.bx-black {
      background-color: black;

}


.bx-grey {
      background-color: black;
       border: dashed 2px  white;
        margin: 3px;
}




/* 25 + 35 * (boxes - 1) = box width */
.bx-w1 {
    width: 10%
}

dialog {
    background-color: black;
}

button {
    background-color: inherit;
}

.bx-w2 {
    width: 20%;
}

.bx-w3 {
    width: 95px;
}

.bx-w4 {
    width: 130px;
}

.bx-w5 {
    width: 200px;
}




.boxes {
display: flex;
    flex-wrap: nowrap;
}


/* 
.content {
        border: solid 2px  white;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
} */



dialog {
::backdrop {
backdrop-filter: blur(1px);
}
}



.dialog {

  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0, 0, 0, 0.5);
 backdrop-filter: blur(2px);
}

.dialog-content {
  border: 2px solid;

  padding: 20px;


  width: 300px;
 margin: auto;
  margin-top: 50px;
   
}


.topright {
  /* color: #aaaaaa; */
  float: right;
  font-size: 14px;
  font-weight: bold;
   margin-right: -22px;
  margin-top: -22px; 
}

.foot {
  position: absolute;
  bottom: 10px;


    width: 700px;
    margin: auto;
} 


.sizeboxes {
flex-wrap: wrap;
display: flex;
}

.sizebox {
    height: 25px;
    margin: 5px;
     display: flex;
    justify-content: center;
    align-items: center;
    width: 12.88%;
}


.scroller
{
    overflow: auto;   max-height: 90vh;
}

@media only screen and (max-width: 700px) {


    .box {
        height: 40px;
    }


    .foot {
        margin: auto;
        width: 100%;
    }

    body {

        margin: auto;
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
    }
    
    .scroller
{
    max-height: 93vh;
}
    

    
}


@media only screen and (max-width: 300px) {


    .dialog-content {

          width: 70%;
           margin-left: auto;
           margin-right: auto;
        
    }
    
    
}




